<!--{#
  #~ Var | Required | Default ~#
  active | no | false
  header | yes | none
  lead_text | yes | none
  action_buttons (list, optional)
    n. (list index)
      - href | no | #
      - theme | no | primary
      - icon | no | none
      - text | yes | none
    ... (etc)
#}-->
{% if call_to_action.active | default(false) %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">{{ call_to_action.header }}</h1>
      <p class="lead text-body-secondary">{{ call_to_action.lead_text }}</p>

      {% if call_to_action.buttons %}
      <p>
        {% for button in call_to_action.buttons %}
        <a
          href="{{ button.href | default('#') }}"
          class="btn btn-{{ button.theme | default('primary') }} my-2"
        >
          {% if button.icon %}
          <i class="bi-{{ button.icon }}"></i>
          {% endif %}
          {{ button.text }}
        </a>
        {% endfor %}
      </p>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}
