<!--
  #~ Var | Required | Default ~#
  main_line | no | none
  extra_lines (list)
    - (text to print) | no | none
-->

  <footer class="text-body-secondary py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">{{ main_line | default('') }}</p>

      {% if extra_lines %}
        {% for line in extra_lines %}
          {% if line %}
      <p class="mb-0">{{ line }}</p>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </footer>
