<!--{#
  #~ Var | Required | Default ~#
  theme | no | dark
  text_theme | no | white
  page_title | yes | none
  left_header | no | About
  left_text | no | none
  right_header | no | none
  link_list
    n. (list index)
      - href | yes | none
      - text | yes | none
      - icon | no | none
    ... (etc)
#}-->
<header data-bs-theme="{{ theme | default('dark') }}">
  <div class="collapse text-bg-{{ theme | default('dark') }}" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4>{{ left_header | default('About') }}</h4>
          <p class="text-body-secondary">{{ left_text | default('') }}</p>
        </div>

        <div class="col-sm-4 offset-md-1 py-4">
          <h4>{{ right_header | default('') }}</h4>
          {% if link_list %}
          <ul class="list-unstyled">
            {% for link in link_list %}
              {% if link.href and link.text %}
            <li><a href={{ link.href }} class="text-{{ text_theme | default('white') }}">
              {% if link.icon %}
              <i class="bi-{{ link.icon }}"></i>
              {% endif %}
              {{ link.text }}
            </a></li>
              {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="navbar navbar-{{ theme | default('dark') }} bg-{{ theme | default('dark') }} shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>{{ page_title }}</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
